
<header>
  <nav class="navbar navbar-expand-lg fixed-top mask-custom shadow-0" style="background-color: rgba(255, 255, 255, 0.5);">
        <div class="container">
          <a class="navbar-brand" href="/home" routerlink="/home"><span style="color: grey; font-weight: bold;">Hospital Management</span></a>
          <button class="navbar-toggler" type="button" data-mdb-toggle="collapse"
            data-mdb-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation">
            <i class="fas fa-bars"></i>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto">
              <li class="nav-item">
                <a class="nav-link" href="/patient" routerlink="/patient">Patient registration</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/visit" routerlink="/visit">Visit</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/slicer" routerlink="/slicer">Patient list</a>
              </li>
            </ul>
            
          </div>
        </div>
      </nav>
      <!-- Navbar -->
    
      <!--Section: Design Block-->
      <section>
        <!-- Intro -->
        
        <!-- Intro -->
      </section>
      <!--Section: Design Block-->
    </header>